<!-- REVOLUTION SLIDER -->
<div class="slider fullwidthbanner-container roundedcorners">
    <!--
        Navigation Styles:
        
            data-navigationStyle="" theme default navigation
            
            data-navigationStyle="preview1"
            data-navigationStyle="preview2"
            data-navigationStyle="preview3"
            data-navigationStyle="preview4"
            
        Bottom Shadows
            data-shadow="1"
            data-shadow="2"
            data-shadow="3"
            
        Slider Height (do not use on fullscreen mode)
            data-height="300"
            data-height="350"
            data-height="400"
            data-height="450"
            data-height="500"
            data-height="550"
            data-height="600"
            data-height="650"
            data-height="700"
            data-height="750"
            data-height="800"
    -->
    <div class="fullwidthbanner" data-height="600" data-shadow="0" data-navigationStyle="preview2">
        <ul class="hide">
        
            <!-- SLIDE  -->
            <li data-transition="parallaxtobottom" data-slotamount="7" data-masterspeed="600" data-delay="7000" data-saveperformance="off"  data-title="">
                <!-- MAIN IMAGE -->
                <img src="/assets/images/rocket/AdobeStock_124493370.jpeg"  alt="cover image"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                <div class="tp-caption white_big skewfromleft tp-resizeme"
                    data-x="150"
                    data-y="20" 
                    data-speed="400"
                    data-start="1500"
                    data-easing="Power3.easeInOut"
                    data-splitin="words"
                    data-splitout="none"
                    data-elementdelay="0.1"
                    data-endelementdelay="0.1"
                    data-endspeed="600"
                    style="z-index: 2; color:rgb(223, 20, 20); font-size:40px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none; font-family:Georgia, 'Times New Roman', Times, serif">
                            With our elevators, <br />
                            you'll always reach higher!
                </div>

                <div class="tp-caption content_text_center skewfromleft tp-resizeme"
                    data-x="420"
                    data-y="250" 
                    data-speed="500"
                    data-start="2000"
                    data-easing="Power3.easeInOut"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.1"
                    data-endelementdelay="0.1"
                    data-endspeed="600"

                    style="z-index: 3; font-size:20px; color:rgb(223, 20, 20); font-weight:300; text-shadow:none; font-family:Georgia, 'Times New Roman', Times, serif">
                        If you're looking for a corporate elevator, <br />
                        We have what you need!
                </div>

                <div class="tp-caption tp-fade"
                    data-x="left"
                    data-y="25" 
                    data-speed="300"
                    data-start="800"
                    data-easing="Power3.easeInOut"
                    data-elementdelay="0.1"
                    data-endelementdelay="0.1"
                    data-endspeed="300"
                    style="z-index: 4;">
                    <!--<img src="demo_files/images/thematics/construction/worker-min.png" alt="">-->
                </div>

                <div class="tp-caption skewfromleft tp-resizeme  un-button-2-lg"
                    data-x="865"
                    data-y="450" 
                    data-speed="300"
                    data-start="2500"
                    data-easing="Power3.easeInOut"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.1"
                    data-endelementdelay="0.1"
                    data-endspeed="300"

                    style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
                        <a class="btn btn-primary btn-lg" <A HREF="indexKief.html">HOME PAGE &nbsp;</A> <i class="fa fa-angle-right"></i></a>
                </div>
                <div class="tp-caption sfb tp-resizeme"
                    data-x="150"
                    data-y="450" 
                    data-speed="500"
                    data-start="1500"
                    data-easing="Power3.easeInOut"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.1"
                    data-endelementdelay="0.1"
                    data-endspeed="500"
                    style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">
                        <a class="btn btn-default btn-lg"  href="indexKiefQuote.html">GET A QUOTE &nbsp; <i class="fa fa-angle-right"></i></a>
                </div>

            </li>

            <!-- SLIDE  -->
            <li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="300" data-delay="7000" data-saveperformance="off" data-title="Residential">
                <!-- MAIN IMAGE -->
                <img src="/assets/images/rocket/AdobeStock_162479912.jpeg" alt="cover image"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

               

                <div class="tp-caption font-roboto skewfromleft tp-resizeme"
                    data-x="50"
                    data-y="100" 
                    -splitout="none"
                    data-elementdelay="0.1"
                    data-endelementdelay="0.1"
                    data-endspeed="500"
                    style="z-index: 2; color:rgb(255, 255, 255); font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none; font-family: Georgia, 'Times New Roman', Times, serif;">
                         The best residential elevators <br>
                         on the planet! <br />
                        
                </div>

                <div class="tp-caption skewfromrightshort tp-resizeme"
                    data-x="50"
                    data-y="300" 
                    data-speed="500"
                    data-start="1000"
                    data-easing="easeInCirc"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.1"
                    data-endelementdelay="0.1"
                    data-endspeed="500"
                    style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none; font-family: Georgia, 'Times New Roman', Times, serif;">
                        If you dream of designing a new home that takes full advantage, <br />
                        our team is the best in this field.
                </div>

                <div class="tp-caption sfb tp-resizeme"
                    data-x="50"
                    data-y="410" 
                    data-speed="500"
                    data-start="1500"
                    data-easing="Power3.easeIn"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="1"
                    data-endelementdelay="0.1"
                    data-endspeed="500"
                    style="z-index: 4; max-width: auto;">
                        <a class="btn btn-primary btn-lg" <A href="indexKief2.html">OUR RESIDENTIAL SERVICES &nbsp; <i class="fa fa-angle-right"></i></a>
                </div>

                <!--<div class="tp-caption sfb tp-resizeme"
                    data-x="250"
                    data-y="410" 
                    data-speed="500"
                    data-start="1500"
                    data-easing="Power3.easeInOut"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.1"
                    data-endelementdelay="0.1"
                    data-endspeed="500"
                    style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">
                        <a class="btn btn-default btn-lg" href="#">GET A QUOTE &nbsp; <i class="fa fa-angle-right"></i></a>
                </div>-->
            </li>
            <!--
            <li data-transition="parallaxtobottom" data-slotamount="7" data-masterspeed="600"  data-saveperformance="off"  data-title="Corporate">

                <img src="/assets/rocket/AdobeStock_41696502.jpeg"  alt="cover image"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                <div class="overlay dark-4"><!-- dark overlay [0 to 9 opacity] </div>

                <div class="tp-caption font-roboto skewfromleft tp-resizeme"
                    data-x="center"
                    data-y="100" 
                    -splitout="none"
                    data-elementdelay="0.1"
                    data-endelementdelay="0.1"
                    data-endspeed="500"
                    style="z-index: 2; color:rgb(255, 255, 255); font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none; font-family: Georgia, 'Times New Roman', Times, serif;">
                         Our Corporate building service
                </div>

                <div class="tp-caption skewfromrightshort tp-resizeme"
                    data-x="50"
                    data-y="300" 
                    data-speed="500"
                    data-start="1000"
                    data-easing="easeInCirc"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.1"
                    data-endelementdelay="0.1"
                    data-endspeed="500"
                    style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none; font-family: Georgia, 'Times New Roman', Times, serif;">
                        If you dream of designing a new home that takes full advantage, <br />
                        our team is the best in this field.
                </div>

                <div class="tp-caption sfb tp-resizeme"
                    data-x="50"
                    data-y="410" 
                    data-speed="500"
                    data-start="1500"
                    data-easing="Power3.easeIn"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="1"
                    data-endelementdelay="0.1"
                    data-endspeed="500"
                    style="z-index: 4; max-width: auto;">
                        <a class="btn btn-warning btn-lg" href="#">OUR SERVICES &nbsp; <i class="fa fa-angle-right"></i></a>
                </div>

                <!--<div class="tp-caption sfb tp-resizeme"
                    data-x="250"
                    data-y="410" 
                    data-speed="500"
                    data-start="1500"
                    data-easing="Power3.easeInOut"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.1"
                    data-endelementdelay="0.1"
                    data-endspeed="500"
                    style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">
                        <a class="btn btn-default btn-lg" href="#">GET A QUOTE &nbsp; <i class="fa fa-angle-right"></i></a>
                </div>
            </li>-->
        </ul>

    </div>
</div>
<!-- /REVOLUTION SLIDER -->


<hr class="m-0" /><!-- 1px line separator -->


<!-- BUTTON CALLOUT -->
<a href="#contact" class="btn btn-xlg btn-primary fs-20 fullwidth m-0 rad-0 p-40">
    <span class="font-lato fs-30">
        Are you looking for a residential elevator? 
        <strong>Contact us &raquo;</strong>
    </span>
</a>
<!-- /BUTTON CALLOUT -->



<!-- Services -->
<section>
    <div class="container">

        <div class="row">
            <div class="col-sm-4">
                <!--<a class="image-hover lightbox" href="https://vimeo.com/ondemand/buildingwithawareness/108669033" data-plugin-options='{"type":"iframe"}'>
                    <span class="image-hover-icon image-hover-dark">--><!-- image-hover-light | image-hover-dark -->
                    <!--	<i class="fa fa-vimeo-square">--><!-- video icon </i>-->
                    </span id="services">
                    <img class="img-fluid" src="/assets/rocket/AdobeStock_73868131.jpeg" alt="img" />
                </a>

                <h3 class="mt-10">Corporate Services</h3>
                <p>We have the biggest elevator selection for corporate purposes on the market!</p>
                <!--<a href="#Awards" class="btn btn-default">SEE MORE</a>-->
            </div>

            <div class="col-sm-4">
                <!--<a class="image-hover lightbox" href="https://www.youtube.com/watch?v=ZhCyoDlltbo" data-plugin-options='{"type":"iframe"}'>
                    <span class="image-hover-icon image-hover-dark"><!-- image-hover-light | image-hover-dark -->
                    <!--	<i class="fa fa-youtube-square">--><!-- video icon </i>-->
                    </span>
                    <img class="img-fluid" src="/assets/rocket/AdobeStock_179073967.jpeg" alt="img" />
                </a>
                <h3 class="mt-10">The solutions</h3>
                <p>We have a solution for any of your elevator problems, we have the best Corporate elevators on the planet!</p>
                <!--<a href="#" class="btn btn-default">READ MORE</a>-->
            </div>

            <div class="col-sm-4">
                <img class="img-fluid" src="/assets/rocket/portfolio/coorporate1.jpeg" alt="img" />
                <h3 class="mt-10">Our warrantie</h3>
                <p>We have the best warrantie for corporate elevators on the market.</p>
                <!--<a href="#" class="btn btn-default">READ MORE</a>-->
            </div>

        </div>

    </div>
</section>
<!-- /Services -->




<!-- Parallax 
<section class="parallax parallax-1" style="background-image: url('../HTML_BS4/assets/images/rocket/AdobeStock_73868131.jpeg');">
    <div class="overlay dark-5"><!-- dark overlay [1 to 9 opacity] </div>

    <div class="container">

        <div class="text-center">
            <h2 class="fs-40 fw-300">Elevator Construction Since 1976</h2>
            <a class="btn btn-default btn-lg" href="#">REQUEST A QUOTE <i class="fa fa-angle-right"></i></a> 
            &nbsp; OR &nbsp; 
            <a class="btn btn-warning btn-lg" href="#contact">CONTACT US <i class="fa fa-angle-right"></i></a>
        </div>

    </div>
</section>-->
<!-- /Parallax -->




<!-- PORTFOLIO -->
<section id="work">
    <div class="container">

        <div class="heading-title heading-dotted text-center" id="work">
            <h2 id="Awards">Featured Work</h2>
        </div>

        <div class="text-center">
            <ul class="nav nav-pills mix-filter mb-60">

                <li data-filter="Corporate" class="filter"><a href="#">Corporate</a></li>
                
            </ul>
        </div>

    </div>

    <div id="portfolio" class="portfolio-nogutter">

            <div class="row mix-grid">

                <div class="col-md-3 col-sm-3 mix Corporate">

                    <div class="item-box">
                        <figure>
                            <span class="item-hover">
                                <span class="overlay dark-5"></span>
                                <span class="inner">

                                    <!-- lightbox -->
                                    <a class="ico-rounded lightbox" href="../HTML_BS4/assets/images/rocket/portfolio/120206044602-elevators-aquadom-horizontal-large-gallery.jpg" data-plugin-options='{"type":"image"}'>
                                        <span class="fa fa-plus fs-20"></span>
                                    </a>

                                    

                                </span>
                            </span>

                            <img class="img-fluid" src="/assets/rocket/portfolio/120206044602-elevators-aquadom-horizontal-large-gallery.jpg" width="600" height="150" alt="">
                        </figure>

                        <div class="item-box-desc">
                            <h3>The Aquarium project</h3>
                            <ul class="list-inline categories m-0">
                                <li><a href="#">Corporate</a></li>
                                <!--<li><a href="#"></a></li>-->
                            </ul>
                        </div>

                    </div>

                </div><!-- /item -->


                


                <div class="col-md-3 col-sm-3 mix Corporate"><!-- item -->

                    <div class="item-box">
                        <figure>
                            <span class="item-hover">
                                <span class="overlay dark-5"></span>
                                <span class="inner">

                                    <!-- lightbox -->
                                    <a class="ico-rounded lightbox" href="/assets/images/rocket/portfolio/46bc9d8ae3d51218a0620e0ec81b589f.jpg" data-plugin-options='{"type":"image"}'>
                                        <span class="fa fa-plus fs-20"></span>
                                    </a>

                                    

                                </span>
                            </span>

                            <img class="img-fluid" src="/assets/rocket/portfolio/46bc9d8ae3d51218a0620e0ec81b589f.jpg" width="600" height="150" alt="">
                        </figure>

                        <div class="item-box-desc">
                            <h3>Sci-Fi elevator</h3>
                            <ul class="list-inline categories m-0">
                                <li><a href="#">Corporate</a></li>
                                
                            </ul>
                        </div>

                    </div>

                </div><!-- /item -->


                


                <div class="col-md-3 col-sm-3 mix Corporate"><!-- item -->

                    <div class="item-box">
                        <figure>
                            <span class="item-hover">
                                <span class="overlay dark-5"></span>
                                <span class="inner">

                                    <!-- lightbox-->
                                    <a class="ico-rounded lightbox" href="/assets/images/rocket/portfolio/6679742785_e8f6abd952_n.jpg" data-plugin-options='{"type":"image"}'>
                                        <span class="fa fa-plus fs-20"></span>
                                    </a>

                                

                                </span>
                            </span>

                            <img class="img-fluid" src="/assets/rocket/portfolio/6679742785_e8f6abd952_n.jpg" width="600" height="399" alt="">
                        </figure>

                        <div class="item-box-desc">
                            <h3>Ultra fast elevator</h3>
                            <ul class="list-inline categories m-0">
                                <li><a href="#">Corporate</a></li>
                            
                            </ul>
                        </div>

                    </div>

                </div><!-- /item -->


                


                <div class="col-md-3 col-sm-3 mix Corporate"><!-- item -->

                    <div class="item-box">
                        <figure>
                            <span class="item-hover">
                                <span class="overlay dark-5"></span>
                                <span class="inner">

                                    <!-- lightbox -->
                                    <a class="ico-rounded lightbox" href="/assets/images/rocket/portfolio/949da06660b9f17e3e76c7b91822c063.jpg" data-plugin-options='{"type":"image"}'>
                                        <span class="fa fa-plus fs-20"></span>
                                    </a>

                                    

                                </span>
                            </span>

                            <img class="img-fluid" src="/assets/rocket/portfolio/949da06660b9f17e3e76c7b91822c063.jpg" width="600" height="399" alt="">
                        </figure>

                        <div class="item-box-desc">
                            <h3>The great view elevator</h3>
                            <ul class="list-inline categories m-0">
                                <li><a href="#">Corporate</a></li>
                                
                            </ul>
                        </div>

                    </div>

                </div><!-- /item -->


                 

                

            </div>


    </div>
</section>-->
<!-- /PORTFOLIO -->




<!-- Testimonials -->
<section class="section-xs dark">
    <div style="color:burlywood;"="container">

        <div class="owl-carousel text-center owl-testimonial m-0" data-plugin-options='{"singleItem": true, "autoPlay": 3500, "navigation": false, "pagination": true, "transitionStyle":"fade"}'>
            <div class="testimonial">
                <figure>
                    <img class="rounded" src="/assets/rocket/portfolio/photo-david.jpeg" alt="" />
                </figure>
                <div class="testimonial-content p-0">
                    <p class="lead">The CEO of Rocket Elevator</p>
                    <cite>
                        David Larochelle
                        <span>Rocket Elevator Ltd.</span>
                    </cite>
                </div>
            </div>
            <div class="testimonial">
                <figure>
                    <img class="rounded" src="/assets/rocket/portfolio/haroldcorp.jpg" alt="" />
                </figure>
                <div class="testimonial-content p-0">
                    <p class="lead">Our best corporate custumer</p>
                    <cite>
                        Harold 
                        <span>Rocket Elevator Ltd.</span>
                    </cite>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- /Testimonials -->





<!-- Overview -->
<!---	<section id="overview">
    <div class="container text-center">

        <div class="row text-left">

            <div class="col-sm-8">
                <img src="demo_files/laptop.png" alt="product image" />
            </div>

            <div class="col-sm-4">
                <h3 class="fw-300">Quick <span>Overview</span></h3>
            
                <p>Lorem ipsum dolor sit amet, hinc dolores noluisse at vel, ex quod aperiri scaevola has, cum te sanctus denique. Eu liber docendi petentium has, labore.</p>
                <p>Etiam falli mentitum id mel, ut mel sumo postulant referrentur. At has minim imperdiet, soluta offendit ocurreret sea an. </p>
                
                <hr />

                <ul class="list-unstyled list-icons">
                    <li><i class="fa fa-check"></i> Nobis nemore epicuri pro ea</li>
                    <li><i class="fa fa-check"></i> Qui dicunt singulis dissentias an</li>
                    <li><i class="fa fa-check"></i> Ea vis diceret constituam</li>
                    <li><i class="fa fa-check"></i> Mei no autem idque integre, sumo facilis</li>
                    <li><i class="fa fa-check"></i> Est quodsi labitur moderatius an</li>
                </ul>

            </div>
        </div>

    </div>
</section>-->
<!-- /Overview -->





<!-- CONTACT -->
<section id="contact">
    <div class="container">

        <header class="text-center mb-60" id="contact">
            <h2>Contact Us</h2>
            <p class="lead font-lato">If you want to buy the best elevators on the market!</p>
            <hr />
        </header>


        <div class="row">

            <!-- FORM -->
            <div class="col-md-8 col-sm-8">

                <h3>Drop us a line or just say <strong><em>Hello!</em></strong></h3>

                
                <!--
                    MESSAGES
                    
                        How it works?
                        The form data is posted to php/contact.php where the fields are verified!
                        php.contact.php will redirect back here and will add a hash to the end of the URL:
                            #alert_success 		= email sent
                            #alert_failed		= email not sent - internal server error (404 error or SMTP problem)
                            #alert_mandatory	= email not sent - required fields empty
                            Hashes are handled by assets/js/contact.js

                        Form data: required to be an array. Example:
                            contact[email][required]  WHERE: [email] = field name, [required] = only if this field is required (PHP will check this)
                            Also, add `required` to input fields if is a mandatory field. 
                            Example: <input required type="email" value="" class="form-control" name="contact[email][required]">

                        PLEASE NOTE: IF YOU WANT TO ADD OR REMOVE FIELDS (EXCEPT CAPTCHA), JUST EDIT THE HTML CODE, NO NEED TO EDIT php/contact.php or javascript
                                     ALL FIELDS ARE DETECTED DINAMICALY BY THE PHP

                        WARNING! Do not change the `email` and `name`!
                                    contact[name][required] 	- should stay as it is because PHP is using it for AddReplyTo (phpmailer)
                                    contact[email][required] 	- should stay as it is because PHP is using it for AddReplyTo (phpmailer)
                -->

                <!-- Alert Success -->
                <div id="alert_success" class="alert alert-success mb-30">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>Thank You!</strong> Your message successfully sent!
                </div><!-- /Alert Success -->


                <!-- Alert Failed -->
                <div id="alert_failed" class="alert alert-danger mb-30">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>[SMTP] Error!</strong> Internal server error!
                </div><!-- /Alert Failed -->


                <!-- Alert Mandatory -->
                <div id="alert_mandatory" class="alert alert-danger mb-30">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>Sorry!</strong> You need to complete all mandatory (*) fields!
                </div><!-- /Alert Mandatory -->


                <form action="php/contact.php" method="post" enctype="multipart/form-data">
                    <fieldset>
                        <input type="hidden" name="action" value="contact_send" />

                        <div class="row">
                                <div class="col-md-4">
                                    <label for="contact:name">Full Name *</label>
                                    <input required type="text" value="" class="form-control" name="contact[name][required]" id="contact:name">
                                </div>
                                <div class="col-md-4">
                                    <label for="contact:name">Business Name *</label>
                                    <input required type="text" value="" class="form-control" name="contact[name][required]" id="contact:busName">
                                </div>
                                <div class="col-md-4">
                                    <label for="contact:email">Email</label>
                                    <input type="email" value="" class="form-control" name="contact[email][required] id="contact:email">
                                </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="contact:phone">Phone</label>
                                <input required type="text" value="" class="form-control" name="contact[phone]" id="contact:phone">
                            </div>
                            <div class="col-md-4">
                                <label for="contact:name">Project Name *</label>
                                <input required type="text" value="" class="form-control" name="contact[name][required]" id="contact:proName">
                            </div>
                            <div class="col-md-4">
                                <label for="contact_department">Department</label>
                                <select class="form-control pointer" name="contact[department]">
                                    <option value="">--- Select ---</option>
                                    <option value="Marketing">Residential</option>
                                    <option value="Webdesign">Corporate</option>
                                    <option value="Architecture">Commercial</option>
                                </select>
                            </div>
                            
                    </div>
                        <div class="row">
                                <div class="col-md-12">
                                    <label for="contact:subject">Project description *</label>
                                    <input required type="text" value="" class="form-control" name="contact[subject][required]" id="contact:subject">
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-md-12">
                                    <label for="contact:message">Message *</label>
                                    <textarea required maxlength="10000" rows="8" class="form-control" name="contact[message]" id="contact:message"></textarea>
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-md-12">
                                    <label for="contact:attachment">File Attachment</label>

                                    <!-- custom file upload -->
                                    <input class="custom-file-upload" type="file" id="file" name="contact[attachment]" id="contact:attachment" data-btn-text="Select a File" />
                                    <small class="text-muted block">Max file size: 10Mb (zip/pdf/jpg/png)</small>

                                </div>
                        </div>

                    </fieldset>

                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> SEND MESSAGE</button>
                        </div>
                    </div>
                </form>

            </div>
            <!-- /FORM -->


            <!-- INFO -->
            <div class="col-md-4 col-sm-4">

                <h2>Visit Us</h2>

                <!-- 
                Available heights
                    h-100
                    h-150
                    h-200
                    h-250
                    h-300
                    h-350
                    h-400
                    h-450
                    h-500
                    h-550
                    h-600
                -->
                <iframe width="400" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="gmap_canvas" src="https://maps.google.com/maps?width=400&amp;height=400&amp;hl=en&amp;q=418%20725%20Boulevard%20Lebourgneuf%20Qu%C3%A9bec+(Rocket%20Elevator)&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe> <a href='http://maps-generator.com/fr'>Information</a> <script type='text/javascript' src='https://maps-generator.com/google-maps-authorization/script.js?id=3b21bfef00150dd1af498cca4d3d47c0d1b114ca'></script>
                <hr />

                <p>
                    <span class="block"><strong><i class="fa fa-map-marker"></i> Address:</strong>418-725, Boulevard Lebourgneuf, Québec</span><!--QC G2J 0C4-->
                    <span class="block"><strong><i class="fa fa-phone"></i> Phone:</strong> <a href="tel:(581) 701-0303">(581) 701-0303</a></span>
                    <span class="block"><strong><i class="fa fa-envelope"></i> Email:</strong> <a href="mailto:info@codeboxx.biz">info@codeboxx.biz</a></span>
                </p>

            </div>
            <!-- /INFO -->

        </div>

    </div>
</section>
<!-- /CONTACT -->